<div
  class="bg-neutral-black flex justify-between items-start px-[165px] py-16 gap-x-[125px]"
>
  <div class="flex flex-col gap-8 justify-between items-start">
    <div class="bg-white/10 w-[191px] h-[30px] rounded-lg"></div>
    <div
      class="flex flex-col gap-2 justify-between items-start text-body-small text-neutral-silver"
    >
      <span>Copyright © 2020 Nexcent ltd.</span>
      <span>All rights reserved</span>
    </div>
    <div class="flex gap-4 justify-start items-center">
      <div class="bg-white/10 w-8 h-8 aspect-square rounded-full"></div>
      <div class="bg-white/10 w-8 h-8 aspect-square rounded-full"></div>
      <div class="bg-white/10 w-8 h-8 aspect-square rounded-full"></div>
      <div class="bg-white/10 w-8 h-8 aspect-square rounded-full"></div>
    </div>
  </div>
  <div class="flex gap-x-[30px] justify-end items-start">
    <div class="w-[160px] flex flex-col gap-y-6 justify-between items-start">
      <h1 class="text-header-xsmall text-white">Company</h1>
      <div
        class="flex flex-col gap-y-3 justify-between items-start text-body-small text-neutral-silver"
      >
        <a href="/">About us</a>
        <a href="/">Blog</a>
        <a href="/">Contact Us</a>
        <a href="/">Pricing</a>
        <a href="/">Testimonials</a>
      </div>
    </div>
    <div class="w-[160px] flex flex-col gap-y-6 justify-between items-start">
      <h1 class="text-header-xsmall text-white">Support</h1>
      <div
        class="flex flex-col gap-y-3 justify-between items-start text-body-small text-neutral-silver"
      >
        <a href="/">Help center</a>
        <a href="/">Terms of service</a>
        <a href="/">Legal</a>
        <a href="/">Privacy policy</a>
        <a href="/">Status</a>
      </div>
    </div>
    <div
      class="max-w-[380px] flex flex-col gap-y-6 justify-between items-start"
    >
      <h1 class="text-header-xsmall text-white">Stay up to date</h1>
      <div
        class="bg-white/10 w-full flex gap-2 justify-between items-center px-3 py-2 rounded-lg"
      >
        <input
          class="w-full bg-transparent focus:outline-none text-white"
          type="text"
          placeholder="Your email address"
        />
        <button class="custom-button small !p-1 tertiary">Send</button>
      </div>
    </div>
  </div>
</div>
