<section class="flex flex-col pt-8 gap-12 justify-between items-center">
  <div
    class="flex flex-row-reverse h-screen px-[144px] justify-between items-center"
  >
    <div class="w-3/5 flex flex-col gap-8 justify-between items-start">
      <div class="max-w-[80%] flex flex-col gap-4 justify-between items-start">
        <h1 class="text-header-medium text-neutral-dark-gray">
          The unseen of spending three years at Pixelgrade
        </h1>
        <p class="text-body-medium text-neutral-gray">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          justo ipsum. Sed accumsan quam vitae est varius fringilla.
          Pellentesque placerat vestibulum lorem sed porta. Nullam mattis
          tristique iaculis. Nullam pulvinar sit amet risus pretium auctor.
          Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec
          elementum pulvinar odio.
        </p>
      </div>
      <button class="custom-button primary large">Learn More</button>
    </div>
    <img src="/images/Pixelgrade.png" alt="Pixelgrade" />
  </div>
  <div
    class="w-full flex flex-wrap px-[144px] py-8 justify-start items-stretch"
  >
    <div class="basis-1/4 p-4" *ngFor="let post of postList | async">
      <!-- {{ console.log("post>>", post) }} -->
      <app-post-card [post]="post"></app-post-card>
    </div>
  </div>
</section>
