<nav
  class="bg-neutral-silver w-full flex px-[144px] py-8 justify-between items-center"
>
  <a href="/" class="bg-shade-300/10 w-[154.5px] h-6 rounded-lg"></a>
  <div class="flex gap-[50px]">
    <a href="/">Home</a>
    <a href="/">Service</a>
    <a href="/">Feature</a>
    <a href="/">Product</a>
    <a href="/">Testimonial</a>
    <a href="/">FAQ</a>
  </div>
  <div class="flex gap-3.5 justify-between">
    <button class="custom-button medium tertiary">Login</button>
    <button class="custom-button medium primary">Sign up</button>
  </div>
</nav>
