<div class="w-full">
  <section class="flex flex-col gap-10 justify-between items-center">
    <div
      class="bg-neutral-silver w-full h-screen px-[144px] py-24 flex justify-between items-center gap-x-[104px]"
    >
      <div class="flex flex-col gap-8 justify-between items-start">
        <h1 class="text-header-large text-neutral-dark-gray">
          Lessons and insights <span class="text-shade-100">from 8 years</span>
        </h1>
        <p class="text-body-medium text-neutral-gray">
          Where to grow your business as a photographer: site or social media?
        </p>
        <button class="custom-button primary large">Register</button>
      </div>
      <div
        class="bg-shade-100/10 w-full max-w-[391px] h-[407px] rounded-lg"
      ></div>
    </div>
    <div
      class="w-full flex flex-col gap-4 px-[144px] justify-start items-center"
    >
      <div class="flex flex-col gap-2 justify-between items-center">
        <h1
          class="text-header-medium text-neutral-dark-gray max-w-[542px] text-center"
        >
          Our Clients
        </h1>
        <p class="text-body-medium text-neutral-gray text-center">
          We have been working with some Fortune 500+ clients
        </p>
      </div>
      <div class="w-full flex justify-between items-center h-[98px]">
        <div class="bg-red-300 w-12 h-12 rounded-lg"></div>
        <div class="bg-blue-300 w-12 h-12 rounded-lg"></div>
        <div class="bg-green-300 w-12 h-12 rounded-lg"></div>
        <div class="bg-slate-300 w-12 h-12 rounded-lg"></div>
        <div class="bg-orange-300 w-12 h-12 rounded-lg"></div>
        <div class="bg-purple-300 w-12 h-12 rounded-lg"></div>
      </div>
    </div>
    <div
      class="w-full flex flex-col gap-4 px-[144px] justify-start items-center"
    >
      <div class="flex flex-col gap-2 justify-between items-center">
        <h1
          class="text-header-medium text-neutral-dark-gray max-w-[542px] text-center"
        >
          Manage your entire community in a single system
        </h1>
        <p class="text-body-medium text-neutral-gray text-center">
          Who is Nextcent suitable for?
        </p>
      </div>
      <div class="w-full flex justify-between items-center">
        <div
          class="flex flex-col gap-2 justify-center items-center px-8 py-6 max-w-[299px]"
        >
          <div class="flex flex-col gap-4 justify-between items-center">
            <div class="bg-shade-100/10 w-[65px] h-[56px] rounded-lg"></div>
            <h1 class="text-header-small text-center text-neutral-dark-gray">
              Membership Organisations
            </h1>
          </div>
          <p class="text-body-small text-neutral-gray text-center">
            Our membership management software provides full automation of
            membership renewals and payments
          </p>
        </div>
        <div
          class="flex flex-col gap-2 justify-center items-center px-8 py-6 max-w-[299px]"
        >
          <div class="flex flex-col gap-4 justify-between items-center">
            <div class="bg-shade-100/10 w-[65px] h-[56px] rounded-lg"></div>
            <h1 class="text-header-small text-center text-neutral-dark-gray">
              National <i>Associations</i>
            </h1>
          </div>

          <p class="text-body-small text-neutral-gray text-center">
            Our membership management software provides full automation of
            membership renewals and payments
          </p>
        </div>
        <div
          class="flex flex-col gap-2 justify-center items-center px-8 py-6 max-w-[299px]"
        >
          <div class="flex flex-col gap-4 justify-between items-center">
            <div class="bg-shade-100/10 w-[65px] h-[56px] rounded-lg"></div>
            <h1 class="text-header-small text-center text-neutral-dark-gray">
              Clubs And Groups
            </h1>
          </div>

          <p class="text-body-small text-neutral-gray text-center">
            Our membership management software provides full automation of
            membership renewals and payments
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col pt-8 gap-12 justify-between items-center">
    <div class="flex flex-row-reverse px-[144px] justify-between items-center">
      <div class="w-3/5 flex flex-col gap-8 justify-between items-start">
        <div
          class="max-w-[80%] flex flex-col gap-4 justify-between items-start"
        >
          <h1 class="text-header-medium text-neutral-dark-gray">
            The unseen of spending three years at Pixelgrade
          </h1>
          <p class="text-body-medium text-neutral-gray">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet justo ipsum. Sed accumsan quam vitae est varius fringilla.
            Pellentesque placerat vestibulum lorem sed porta. Nullam mattis
            tristique iaculis. Nullam pulvinar sit amet risus pretium auctor.
            Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec
            elementum pulvinar odio.
          </p>
        </div>
        <button class="custom-button primary large">Learn More</button>
      </div>
      <div class="bg-shade-100/10 w-[442px] h-[443px] rounded-lg"></div>
    </div>
    <div
      class="bg-neutral-silver w-full px-[144px] py-16 flex justify-between items-center"
    >
      <div class="flex flex-col gap-2">
        <h1 class="text-header-medium text-neutral-dark-gray">
          Helping a local <br /><span class="text-shade-100"
            >business reinvent itself</span
          >
        </h1>
        <p class="text-body-medium text-neutral-dark-gray">
          We reached here with our hard work and dedication
        </p>
      </div>
      <div class="flex flex-col gap-y-10 justify-between">
        <div class="flex justify-between items-center">
          <div class="flex gap-x-4 justify-between items-center">
            <div class="w-12 h-12"></div>
            <div
              class="min-w-[191px] flex flex-col justify-between items-start"
            >
              <h2 class="text-header-small text-neutral-dark-gray">
                2,245,341
              </h2>
              <p class="text-body-medium text-neutral-gray">Members</p>
            </div>
          </div>
          <div class="flex gap-x-4 justify-between items-center">
            <div class="w-12 h-12"></div>
            <div
              class="min-w-[191px] flex flex-col justify-between items-start"
            >
              <h2 class="text-header-small text-neutral-dark-gray">
                2,245,341
              </h2>
              <p class="text-body-medium text-neutral-gray">Members</p>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <div class="flex gap-x-4 justify-between items-center">
            <div class="w-12 h-12"></div>
            <div
              class="min-w-[191px] flex flex-col justify-between items-start"
            >
              <h2 class="text-header-small text-neutral-dark-gray">
                2,245,341
              </h2>
              <p class="text-body-medium text-neutral-gray">Members</p>
            </div>
          </div>
          <div class="flex gap-x-4 justify-between items-center">
            <div class="w-12 h-12"></div>
            <div
              class="min-w-[191px] flex flex-col justify-between items-start"
            >
              <h2 class="text-header-small text-neutral-dark-gray">
                2,245,341
              </h2>
              <p class="text-body-medium text-neutral-gray">Members</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row-reverse px-[144px] justify-between items-center">
      <div class="w-3/5 flex flex-col gap-8 justify-between items-start">
        <div class="max-w-full flex flex-col gap-4 justify-between items-start">
          <h1 class="text-header-medium text-neutral-dark-gray">
            How to design your site footer like we did
          </h1>
          <p class="text-body-medium text-neutral-gray">
            Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor,
            augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque
            elit erat a magna. Donec quis erat at libero ultrices mollis. In hac
            habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi
            facilisis finibus. In euismod augue vitae nisi ultricies, non
            aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus
            efficitur quis massa. Praesent felis est, finibus et nisi ac,
            hendrerit venenatis libero. Donec consectetur faucibus ipsum id
            gravida.
          </p>
        </div>
        <button class="custom-button primary large">Learn More</button>
      </div>
      <div class="bg-shade-100/10 w-[442px] h-[443px] rounded-lg"></div>
    </div>
    <div
      class="bg-neutral-silver flex flex-row-reverse gap-[78px] px-[144px] py-8 justify-between items-center"
    >
      <div class="w-full flex flex-col gap-8 justify-between items-start">
        <div
          class="max-w-full flex flex-col-reverse gap-4 justify-between items-start"
        >
          <div class="flex justify-start items-center gap-x-8">
            <div class="flex justify-start items-center gap-x-[41px]">
              <div class="bg-red-300 w-12 h-12 rounded-lg"></div>
              <div class="bg-blue-300 w-12 h-12 rounded-lg"></div>
              <div class="bg-green-300 w-12 h-12 rounded-lg"></div>
              <div class="bg-slate-300 w-12 h-12 rounded-lg"></div>
              <div class="bg-orange-300 w-12 h-12 rounded-lg"></div>
              <div class="bg-purple-300 w-12 h-12 rounded-lg"></div>
            </div>
            <button
              class="flex !gap-x-2 custom-button medium !text-header-xsmall !p-2 tertiary"
            >
              Meet all customers <span>&rarr;</span>
            </button>
          </div>
          <div
            class="flex flex-col-reverse gap-y-4 justify-between items-start"
          >
            <div class="flex flex-col gap-y-2 justify-between items-start">
              <h1 class="text-header-xsmall text-shade-100">Tim Smith</h1>
              <h2 class="text-body-medium text-neutral-light-gray">
                British Dragon Boat Racing Association
              </h2>
            </div>
            <p class="text-body-medium text-neutral-gray">
              Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor,
              augue nec tincidunt molestie, massa nunc varius arcu, at
              scelerisque elit erat a magna. Donec quis erat at libero ultrices
              mollis. In hac habitasse platea dictumst. Vivamus vehicula leo
              dui, at porta nisi facilisis finibus. In euismod augue vitae nisi
              ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla
              commodo faucibus efficitur quis massa. Praesent felis est, finibus
              et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus
              ipsum id gravida.
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-transparent w-[326px] aspect-square h-[326px] rounded-lg"
      ></div>
    </div>
    <div class="w-full flex flex-col gap-4 pb-20 justify-between items-center">
      <div class="flex flex-col gap-2 px-[144px] justify-between items-center">
        <h1 class="text-header-medium text-neutral-dark-gray">
          Caring is the new marketing
        </h1>
        <p class="max-w-[628px] text-body-medium text-center text-neutral-gray">
          The Nexcent blog is the best place to read about the latest membership
          insights, trends and more. See who's joining the community, read about
          how our community are increasing their membership income and lot's
          more.​
        </p>
      </div>
      <div
        class="w-full flex h-screen max-h-[366px] px-[144px] justify-between items-end"
      >
        <div
          class="bg-neutral-silver max-w-[317px] flex flex-col gap-4 p-5 justify-center items-center rounded-lg shadow-md"
        >
          <h1 class="text-header-xsmall text-neutral-gray text-center">
            Creating Streamlined Safeguarding Processes with OneRen
          </h1>
          <button
            class="w-full flex !gap-x-2 custom-button medium !text-header-xsmall !p-2 tertiary"
          >
            Read more <span>&rarr;</span>
          </button>
        </div>
        <div
          class="bg-neutral-silver max-w-[317px] flex flex-col gap-4 p-5 justify-center items-center rounded-lg shadow-md"
        >
          <h1 class="text-header-xsmall text-neutral-gray text-center">
            What are your safeguarding responsibilities and how can you manage
            them?
          </h1>
          <button
            class="w-full flex !gap-x-2 custom-button medium !text-header-xsmall !p-2 tertiary"
          >
            Read more <span>&rarr;</span>
          </button>
        </div>
        <div
          class="bg-neutral-silver max-w-[317px] flex flex-col gap-4 p-5 justify-center items-center rounded-lg shadow-md"
        >
          <h1 class="text-header-xsmall text-neutral-gray text-center">
            Revamping the Membership Model with Triathlon Australia
          </h1>
          <button
            class="w-full flex !gap-x-2 custom-button medium !text-header-xsmall !p-2 tertiary"
          >
            Read more <span>&rarr;</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col justify-between">
    <div
      class="bg-neutral-silver w-full flex flex-col px-[144px] py-8 gap-8 justify-between items-center"
    >
      <h1 class="max-w-[70%] text-header-large text-neutral-black text-center">
        Pellentesque suscipit fringilla libero eu.
      </h1>
      <button class="flex !gap-x-2 custom-button medium primary">
        Read more <span>&rarr;</span>
      </button>
    </div>
  </section>
</div>
